<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/taquillaUno.css">
    <script type="/static/js/taquillaUno.js">
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>TaquillaUNO</h1>
      </div>
      <div class="main">
        <div class="box sidebar">
          <ul>
            <li>Teatro</li>
            <li>Conciertos</li>
            <li>Comedia</li>
            <li>Cine</li>
            <li>Shows Nocturnos</li>
            <li>Literatura</li>
            <li>Música</li>
            <li>Pintura</li>
            <li>Poesía</li>
          </ul>
        </div>
        <div class="box content">
          {{template "body"}}
        </div>
        <div class="box sidebar">
        </div>
      </div>
      <div class="footer">
        2016 &copy; TaquillaUNO
      </div>
    </div>
  </body>
</html>
